name: build-and-deploy

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository }}:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}:${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Update Coolify resource
        env:
          COOLIFY_API_URL: ${{ secrets.COOLIFY_API }}
          COOLIFY_API_KEY: ${{ secrets.COOLIFY_TOKEN }}
          IMAGE_TAG: ${{ github.sha }}
          APPLICATION_ID: qgc0g8s0gc4og00kwwk00s4w
        run: |
          curl -X PATCH "$COOLIFY_API_URL/v1/applications/$APPLICATION_ID" \
            -H "Authorization: Bearer $COOLIFY_API_KEY" \
            -H "Content-Type: application/json" \
            -d "{\"docker_registry_image_tag\":\"$IMAGE_TAG\"}"
